* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'merriweather', sans-serif; 
}

nav {
    background-color: #2C7865;
    height: 80px;
    width: 100%;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.judul {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: none;
    color: chocolate;
    transition: all .3s ease-in-out;
}

.active {
    background-color: chocolate;
    color: white;
    padding: 15px;
}

.active:hover {
    color: white !important;
}

.page1 {
    height: 80vh;
    background-image: url('../image/alam.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1 h2 {
    color: floralwhite;
    font-family: 'popins', sans-serif;
}

section {
    padding: 35px 0;
    font-family: 'merriweather', sans-serif;
    font-size: 2rem;
}

section h3 {
    text-align: center;
    padding: 20px 0;
    color: #2C7865;
}

.bagian {
    font-size: 18px;
    height: 35vh;
    text-align: center;
    justify-content: center;
    line-height: 1,5;
}


